body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}
a {
  color: black;
}
button{
  height: 30px;
  padding: 5px;
  margin: 3px;
}
i{
  color: white;
}
.navbar{
  background-color: black;
}
.panel{
  border-color: black;
}
.row{
  width: 100%;
  display: flex;
  justify-content: center;
}
.main_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.bbcontainer{
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}
.centerme{
  display: flex;
  justify-content: center;
}
.mainpic{
  height: 50vh;
  width: 40vw;
}
.sidepic{
  height: 40vh;
  width: 10vw;
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
}
.postimg{
  border: 2px solid black;
  margin:4px;
  height: 200px;
  width: 160px;
}
.immaIcon{
  position: relative;;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}
.sidenav{
  /*background-color: red;*/
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 40vh;
  width: 10vw;
  margin-right: 2vh;
  position: fixed;
}
.noDec{
  text-decoration: none;
}
.books{
  border: 1px solid black;
}
.nameButton{
  display: flex;
  flex-direction: row;
}
.floatRight{
  float: right;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}
.shiftup{
  margin-top: -11%;
}
.fa-university{
  color: white;
  margin-left: 3vh;
}
.error{
  color: red;
}
